<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문자를 입력하면 그 문자를 포함한 항목만 표시하는 예제</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <h2>문자를 입력하면 그 문자를 포함한 항목만 표시하는 예제</h2>
    <div id="app">
        <input v-model="findWord">
        <ul>
            <li v-for="item in findItems">{{ item }}</li>
        </ul>
    </div>

    <script>
        // 한글의 경우에는 화살표버튼을 클릭하거나 다음 글자를 써야지만 필터링 되지만
        // 영어를 필터링 할 경우에는 글자를 입력하면 바로 필터링 된다.
        new Vue({
            el: '#app',
            data: {
                findWord:'',
                items:['설악산','한라산','북한산','백두산','지리산']
            },
            computed: {
                findItems: function(){
                    if (this.findWord){
                        return this.items.filter(function(value){
                            return ( value.indexOf(this.findWord) > -1);
                        }, this); // return((this),this) 마지막 this를 꼭 써주어야 실행됨
                    } else {
                        return this.items;
                    }
                }
            }
        })
    </script>
</body>
</html>