<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="databinding">
        <h3>Radio</h3>
        <input type="radio" name="balck" value="Black" v-model="picked">Black
        <input type="radio" name="white" value="White" v-model="picked">White
        <h3>Radio element clicked : {{picked}}</h3>
        <hr>
        <h3>Select</h3>
        <select v-model="languages">
            <option disabled>Please select one</option>
            <option>Java</option>
            <option>Javascript</option>
            <option>PHP</option>
            <option>C</option>
            <option>C++</option>
        </select>
        <h3>Laguages Selected is : {{languages}}</h3>
    </div>

    <script>
        new Vue({
            el: '#databinding',
            data: {
                picked: 'White',
                languages: 'Java'
            }
        })
    </script>
</body>
</html>